In [2]:
import pandas as pd
dict1 ={'Name':['Priyang','Aadhya','Krisha','Vedant','Parshv',
                'Mittal','Archana'],
                'Marks':[98,89,99,87,90,83,82],
               }
df1=pd.DataFrame(dict1)

In [3]:
df1['Name']

0    Priyang
1     Aadhya
2     Krisha
3     Vedant
4     Parshv
5     Mittal
6    Archana
Name: Name, dtype: object

In [4]:
df1.Name

0    Priyang
1     Aadhya
2     Krisha
3     Vedant
4     Parshv
5     Mittal
6    Archana
Name: Name, dtype: object

In [22]:
import pandas as pd
dict1 ={'Student Name':['Priyang','Aadhya','Krisha','Vedant','Parshv',
                'Mittal','Archana'],
                'Marks':[98,89,99,87,90,83,82],
               }
df1=pd.DataFrame(dict1)

In [24]:
df1.Student Name

SyntaxError: invalid syntax (<ipython-input-24-500057d0a8b9>, line 1)

In [25]:
df1['Student Name']

0    Priyang
1     Aadhya
2     Krisha
3     Vedant
4     Parshv
5     Mittal
6    Archana
Name: Student Name, dtype: object

In [13]:
df1

  Student Name  Marks
0      Priyang     98
1       Aadhya     89
2       Krisha     99
3       Vedant     87
4       Parshv     90
5       Mittal     83
6      Archana     82

In [14]:
df1[['Student Name','Marks']]

  Student Name  Marks
0      Priyang     98
1       Aadhya     89
2       Krisha     99
3       Vedant     87
4       Parshv     90
5       Mittal     83
6      Archana     82

In [15]:
import pandas as pd
dict1 ={'shape':['Round','Triangle','Rectangle','Square'],
                'head':[1,2,3,4],
               }
df1=pd.DataFrame(dict1)
df1

       shape  head
0      Round     1
1   Triangle     2
2  Rectangle     3
3     Square     4

In [16]:
df1.shape

(4, 2)

In [17]:
df1.head

<bound method NDFrame.head of        shape  head
0      Round     1
1   Triangle     2
2  Rectangle     3
3     Square     4>

In [18]:
df1['shape']

0        Round
1     Triangle
2    Rectangle
3       Square
Name: shape, dtype: object

In [19]:
df1['head']

0    1
1    2
2    3
3    4
Name: head, dtype: int64

In [20]:
df1.Student Name

SyntaxError: invalid syntax (<ipython-input-20-500057d0a8b9>, line 1)

In [21]:
df1['Student Name']

KeyError: 'Student Name'